<!DOCTYPE html>
<html>
<head>
  <title>ChatApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <h5>Logged in as: <%= current_user.username %></h5>
  <%= button_to 'Sign Out', session_url(current_user), method: :delete %>
<% else %>
  <%= button_to 'Sign Up', new_user_url, method: :get %>
  <%= button_to 'Sign In', new_session_url, method: :get %>
<% end %>

<%= render 'layouts/errors' %>
<%= yield %>

</body>
</html>
